app-im-history-message {
  display: block; // min-height: 4rem;
  margin: .5rem 0;
  .history-time {
    margin: 2rem 0;
    text-align: center;
    color: #999;
    .time {
      background-color: hsla(200, 4%, 84%, 0.45);
      border-radius: .5rem;
      padding: .1rem 1rem;
    }
  }
  .my-message,
  .other-message {
    width: 100%;
    .content {
      overflow: hidden;
      .icon-box-left,
      .icon-box-right {
        width: 10%;
      }
      .icon-box-right {
        text-align: right;
      }
      .icon-box-left {
        text-align: left;
      }
      .msg-box {
        max-width: 65%;
        .bubble {
          position: relative;
          max-width: 100%;
          font-size: 1.3rem;
          cursor: pointer;
          border-radius: .5rem;
          word-wrap: break-word;
          padding: .5rem 1rem;
          margin-top: .75rem;
          .emojione {
            width: 1.3rem;
          }
          .msg {
            display: block;
          }
          .menu-focus {
            position: absolute;
            top: 65%;
          }
        }
        .time {
          display: block;
          clear: both;
          color: #999;
          font-size: .75rem;
          .fa {
            margin-right: 5px;
          }
        }
      }
    }
    .action-box {}
  }
  .other-message {
    .msg-box {
      margin-left: 1rem;
      float: left;
      .bubble {
        color: #fff;
        background-color: #86BB71;
      }
      .time {
        text-align: left;
        margin-left: .5rem;
      }
    }
  }
  .my-message {
    .msg-box {
      float: right;
      margin-right: 1rem;
      .bubble {
        color: #fff;
        background-color: #94C2ED;
        .time {
          text-align: right;
        }
      }
      .time {
        text-align: right;
        margin-right: .5rem;
      }
    }
    .data {
      text-align: right;
    }
  }
  .float-right {
    float: right;
  }
  .bubble-right {
    position: relative;
    &::after {
      position: absolute;
      top: .75rem;
      right: -.5rem;
      content: " ";
      pointer-events: none;
      width: 0;
      height: 0;
      border-width: .5rem 0 0.5rem .85rem;
      border-style: solid;
      border-color: transparent transparent transparent #94c2ed;
    }
  }
  .bubble-left {
    position: relative;
    &::after {
      position: absolute;
      top: .75rem;
      left: -.5rem;
      content: " ";
      border: solid transparent;
      pointer-events: none;
      width: 0;
      height: 0;
      border-width: .5rem .85rem .5rem 0;
      border-style: solid;
      border-color: transparent #86BB71 transparent transparent;
    }
  }
  .float-left {
    float: left;
  }
}