<ul class="list-group">
  <li class="list-group-item mb-5">
    <app-button (action)="back()" icon="chevron_left">Nodes</app-button>
  </li>
  <li class="list-group-item">
    <app-button (action)="terminal()" icon="laptop">Terminal</app-button>
  </li>
  <li class="list-group-item">
    <app-button (action)="configuration()" icon="settings">Discovery</app-button>
  </li>
  <li class="list-group-item">
    <app-button (action)="update()" icon="get_app">Check update</app-button>
  </li>
  <li class="list-group-item">
    <app-button (action)="reboot()" icon="rotate_right">Reboot</app-button>
  </li>
</ul>
