<ul class="list-group">
  <li class="list-group-item">
    <button (click)="update()" mat-flat-button class="link md">
      <mat-icon>get_app</mat-icon>
      Check update
    </button>
  </li>
  <li class="list-group-item">
    <button (click)="reboot()" mat-flat-button class="link md">
      <mat-icon>rotate_right</mat-icon>
      Reboot
    </button>
  </li>
  <li class="list-group-item">
    <button (click)="configuration()" mat-flat-button class="link md">
      <mat-icon>settings</mat-icon>
      Settings
    </button>
  </li>
  <li class="list-group-item">
    <button (click)="terminal()" mat-flat-button class="link md">
      <mat-icon>laptop</mat-icon>
      Terminal
    </button>
  </li>
</ul>
