<app-datatable
  [data]="data.app.allow_nodes"
  (onSave)="save($values)"
  [displayedColumns]="displayedColumns"
  [headerTitle]="headerTitle"
  [removeRowTooltipText]="removeRowTooltipText"
  [getEditableRowData]="getEditableRowData"
  [getEditableRowComponentClass]="getEditableRowComponentClass"
  [getAddRowData]="getAddRowData"
  [getAddRowComponentClass]="getAddRowComponentClass"
  [addButtonTitle]="addButtonTitle"
  [onAddBtnClicked]="onAddBtnClicked"
  [valueToAdd]="valueToAdd">
</app-datatable>
