@import "variables";
@import "utilities/theme";
@import "~bootstrap/scss/functions";

:host::ng-deep
{
  .mat-flat-button
  {
    line-height: 15px;
  }

  .separator
  {
    width: 0;
    height: 40px;
    border: solid 1px theme-color(translucid-white);
    align-self: center;
  }
}
