*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.DS_Store

.idea/

/skywire.json
/*-config.json
/apps/
/skywire/
/local*

pkg/node/apps/
pkg/node/bar/
pkg/node/foo/

/node
/users.db
/*-node
/*-cli
/*-server
/*.json
/*.sh
/*.log

# Ignore backup go.mod after running '/ci_scripts/go_mod_replace.sh'.
go.mod-e
