*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

.idea/

/skywire.json
/*-config.json
/apps/
/skywire/
/local*

pkg/node/apps/
pkg/node/bar/
pkg/node/foo/

/node
/users.db
/*-node
/*-cli
/*-server
/*.json
/*.sh
/*.log