*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.DS_Store

.idea/

/skywire.json
/*-config.json
/apps/
/skywire/
/local*

pkg/visor/apps/
pkg/visor/bar/
pkg/visor/foo/

/node
/users.db
/hypervisor
/*-node
/*-visor
/*-cli
/*-server
/*.json
/*.sh
/*.log

# Ignore backup go.mod after running '/ci_scripts/go_mod_replace.sh'.
go.mod-e
