<form class="startup-form" *ngIf="autoStartConfig">
  <mat-list>
    <mat-list-item>
      <span>
        Automatically start SSH server
      </span>
      <mat-slide-toggle (change)="toggle($event)" [checked]="autoStartConfig.sshc"></mat-slide-toggle>
    </mat-list-item>
    <mat-list-item>
      <app-keypair
        style="width: 100%;"
        (keypairChange)="keypairChange($event)"
        [keypair]="{ nodeKey: autoStartConfig.sshc_conf_nodeKey, appKey: autoStartConfig.sshc_conf_appKey }"
      ></app-keypair>
    </mat-list-item>
  </mat-list>
  <button disabled="{{ !keyPairValid }}" class="submit-btn" color="primary" mat-raised-button (click)="save()">
    Save
  </button>
</form>

