<div class="hint-box" *ngIf="!chatting">
  <p>The chat record is empty</p>
</div>
<div class="container" *ngIf="chatting">
  <div class="message-box-head tooltip " [attr.aria-label]="chatting">
    <a href="javascript:void(0);" class="head-name single-line">{{chatting}}</a>
  </div>
  <perfect-scrollbar class="container message-box" [config]="config">
    <app-im-history-view fxLayout="column-reverse" [list]="chatList.toArray()"></app-im-history-view>
  </perfect-scrollbar>
  <div class="send-box">
    <app-editor (onEnter)="send($event)"></app-editor>
  </div>
</div>
