<app-dialog headline="Connect to Node" [dialogRef]="dialogRef">
  <mat-tab-group>
    <mat-tab label="Enter key pair">
      <div class="pt-4">
        <app-keypair [required]="true" (keypairChange)="keypairChange($event)"></app-keypair>
        <button class="float-right" mat-raised-button color="primary" (click)="connect()">Connect</button>
      </div>
    </mat-tab>
    <mat-tab label="Search node">
      <mat-tab-group>
        <mat-tab label="{{'Discovery ' + (i + 1)}}" *ngFor="let discovery of discoveries; let i = index;">
          <ng-template matTabContent>
            <app-search-nodes
              [discovery]="discovery"
              (connect)="connect($event)"></app-search-nodes>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
</app-dialog>
