<app-dialog
  id="sockscConnectContainer"
  [headline]="'apps.socksc.title' | translate">
  <mat-tab-group>
    <mat-tab [label]="'apps.socksc.connect-keypair' | translate">
      <div class="pt-4">
        <app-keypair [required]="true" (keypairChange)="keypairChange($event)"></app-keypair>
        <button
          id="startSockscAppBtn"
          [disabled]="!keypair"
          class="float-right"
          mat-raised-button
          color="primary"
          (click)="connect()">
          {{ 'apps.socksc.connect' | translate }}
        </button>
      </div>
    </mat-tab>
    <mat-tab [label]="'apps.socksc.connect-search' | translate">
      <mat-tab-group>
        <mat-tab
          [label]="('common.discovery' | translate) + ' ' + (i + 1)"
          *ngFor="let discovery of discoveries; let i = index;"
        >
          <ng-template matTabContent>
            <app-search-nodes
              [discovery]="discovery"
              (connect)="connect($event)"></app-search-nodes>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
</app-dialog>
