@font-face {
  font-family: 'Skycoin';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SkycoinProject/skycoin-Regular.woff2') format('woff2'),
  url('../fonts/SkycoinProject/skycoin-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Skycoin';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/SkycoinProject/skycoin-Bold.woff2') format('woff2'),
  url('../fonts/SkycoinProject/skycoin-Bold.woff') format('woff');
}
