<form [formGroup]="form">
  node detail refresh rate
  <select formControlName="refreshRate">
    <option value="3">3 seconds</option>
    <option value="4">4 seconds</option>
    <option value="5">5 seconds</option>
    <option value="10">10 seconds</option>
    <option value="15">15 seconds</option>
    <option value="20">20 seconds</option>
    <option value="30">30 seconds</option>
    <option value="60">60 seconds</option>
  </select>
</form>

<br><br>

change language

<br><br>

<button (click)="password()">change password</button>

<br><br>

<button (click)="back()">go back</button>
