$nav-bg: #2A3F54;
$nav-text-color: #E7E7E7;
$nav-list-item-focus: rgba(0,0,0,.25);
$content-bg: #F7F7F7;
$light-green: #00d400;
$light-dark: rgba(0, 0, 0, 0.05);
$light-dark-2x: rgba(0, 0, 0, 0.1);
$hover-gray: #f5f5f5;
$success-color: #28a745;
$primary-color: #007bff;
$danger-color: #dc3545;
$warn-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$secondary-color: #868e96;
