app-discovery-home {
  @at-root .root {
    min-width: 600px !important;
  }
  .banner {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    background-color: #fbfbfb;
    img {
      width: 200px;
      vertical-align: middle;
    }
    .text {
      font-size: 4em;
    }
  }
  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
    .content-box {
      width: 80%;
      margin: 0 auto;
      .label {
        color: #999;
        user-select: none;
      }
      .address {
        margin-bottom: 2rem;
        word-break: break-all;
      }
      .table {
        font-size: 1em;
        width: 90%;
        border-collapse: collapse;
        .no-found {
          text-align: center !important;
        }
        td,
        th {
          padding: 15px 5px;
          display: table-cell;
          text-align: left;
          vertical-align: middle;
          border-radius: 2px;
        }
        thead {
          border-bottom: 1px solid #d0d0d0;
        }
        tbody {
          tr {
            border-bottom: 1px solid #d0d0d0;
          }
        }
      }
    }
  }
  @media (max-width: 980px) {
    .banner {
      flex-direction: column;
      img {
        display: block;
        margin: 0 auto;
      }
      .text {
        font-size: 2.5em;
      }
      .table {
        width: auto;
      }
    }
    .content {
    }
  }
}
