<app-toolbar>
  <button mat-flat-button class="link sm" (click)="back()">
    <mat-icon class="ic-small rounded-circle sky-bg-white sky-color-blue">chevron_left</mat-icon>
    <span class="ml-1">Back</span>
  </button>
</app-toolbar>
<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-5">
      <div class="container-elevated-white">
        <form class="settings-form" [formGroup]="form">
          <mat-list>
            <mat-list-item>
              <label translate>Old password</label>
              <mat-form-field>
                <input
                  type="password"
                  formControlName="oldPassword"
                  matInput>
                <mat-error>
                  Old password is required
                </mat-error>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <label translate>New password</label>
              <mat-form-field>
                <input
                  type="password"
                  formControlName="newPassword"
                  matInput>
                <mat-error>
                  Password must be 4-20 characters long
                </mat-error>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <label>Repeat password</label>
              <mat-form-field>
                <input
                  type="password"
                  formControlName="newPasswordConfirmation"
                  matInput>
                <mat-error>
                  Passwords do not match
                </mat-error>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <button
                class="float-right m-0 d-inline-flex"
                color="primary"
                mat-raised-button
                [disabled]="!form.valid"
                (click)="changePassword()">
                Change password
              </button>
            </mat-list-item>
          </mat-list>
        </form>
      </div>
    </div>
  </div>
</div>
