<app-toolbar>
  <app-back-button (click)="back()"></app-back-button>
</app-toolbar>
<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-5">
      <div class="container-elevated-white">
        <form class="settings-form" [formGroup]="form">
          <mat-list>
            <mat-list-item>
              <label translate>
                {{ 'settings.password.old-password' | translate }}
              </label>
              <mat-form-field>
                <input
                  type="password"
                  formControlName="oldPassword"
                  matInput>
                <mat-error>
                  {{ 'settings.password.errors.old-password-required' | translate }}
                </mat-error>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <label>
                {{ 'settings.password.new-password' | translate }}
              </label>
              <mat-form-field>
                <input
                  type="password"
                  formControlName="newPassword"
                  matInput>
                <mat-error>
                  {{ 'settings.password.errors.new-password-error' | translate }}
                </mat-error>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <label>
                {{ 'settings.password.repeat-password' | translate }}
              </label>
              <mat-form-field>
                <input
                  type="password"
                  formControlName="newPasswordConfirmation"
                  matInput>
                <mat-error>
                  {{ 'settings.password.errors.passwords-not-match' | translate }}
                </mat-error>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <button
                class="float-right m-0"
                color="primary"
                mat-raised-button
                [disabled]="!form.valid"
                (click)="changePassword()">
                {{ 'common.save' | translate }}
              </button>
            </mat-list-item>
          </mat-list>
        </form>
      </div>
    </div>
  </div>
</div>
