@import "variables";
@import "utilities/theme";
@import "text";
@import "~bootstrap/scss/functions";

:host::ng-deep {
  .mat-list-item-content
  {
    color: theme-color(blue-dark) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .font-base;

    &.margin-bottom {
      margin-bottom: 20px;
    }

    label {
      margin-bottom: 0;
    }
  }

  button {
    margin: 20px;
  }
}
