<form [formGroup]="form" class="d-flex align-items-center justify-content-between">
  <mat-form-field>
    <input
      type="password"
      formControlName="oldPassword"
      matInput
      placeholder="Old password">
    <mat-error>
      Old password is required
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      type="password"
      formControlName="newPassword"
      matInput
      placeholder="New password">
    <mat-error>
      Password must be 4-20 characters long
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      type="password"
      formControlName="newPasswordConfirmation"
      matInput
      placeholder="Repeat password">
    <mat-error>
      Passwords do not match
    </mat-error>
  </mat-form-field>
</form>
<button
  class="float-right m-0"
  color="primary"
  mat-raised-button
  [disabled]="!form.valid"
  (click)="changePassword()">
  Change password
</button>
