@import "variables";

:host::ng-deep
{
  .mat-dialog-content
  {
    padding: 0;
    margin-bottom: -$mat-dialog-padding;
  }

  .wrapper
  {
    background: black;
    padding: 20px;
  }

  ::-webkit-scrollbar {
    width: 0;  /* remove scrollbar space */
    background: rgba(255, 255, 255,0.2);  /* optional: just make scrollbar invisible */
  }
}
