<div class="chart">
  <app-line-chart></app-line-chart>
  <div class="info">
    <span class="text">{{ 'charts.receiving' | translate }}</span>
    <span class="rate">
      <span class="value">154</span>
      <span class="unit">Kbps</span></span>
  </div>
</div>

<div class="chart">
  <app-line-chart></app-line-chart>
  <div class="info">
    <span class="text">{{ 'charts.sending' | translate }}</span>
    <span class="rate">
      <span class="value">20</span>
      <span class="unit">Kbps</span></span>
  </div>
</div>
