<div class="chart">
  <app-line-chart [data]="receivingHistory"></app-line-chart>
  <div class="info">
    <span class="text">{{ 'charts.receiving' | translate }}</span>
    <span class="rate">
      <span class="value">{{ receivingTotal }}</span>
      <span class="unit">Kbps</span></span>
  </div>
</div>

<div class="chart">
  <app-line-chart [data]="sendingHistory"></app-line-chart>
  <div class="info">
    <span class="text">{{ 'charts.sending' | translate }}</span>
    <span class="rate">
      <span class="value">{{ sendingTotal }}</span>
      <span class="unit">Kbps</span></span>
  </div>
</div>
