<div class="editor-actions">
  <i class="fa fa-smile-o" (click)="openEmoji($event)">
    <div class="overlay" (click)="close($event)" *ngIf="emojiBox"></div>
    <div class="emoji-box" *ngIf="emojiBox">
      <ul>
        <li *ngFor="let data of emoji.baseEmojis" [attr.aria-label]="data?.desc" title="{{data?.desc}}" (click)="selectEmoji($event,data)" [innerHTML]="data?.code">
          <!-- <a href="javascript:void(0);" >
            <span class="emojione emojione-32-people" ngClass="_{{emoji?.code}}">&#x1f433;</span>
          </a> -->
      </li>
      </ul>
    </div>
  </i>
</div>
<div class="editor-window" contenteditable="true" (keydown.enter)="_enter($event)" #editor>

</div>
