:host.editable-key-container
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

:host::ng-deep
{
  .key-input-container, .mat-form-field
  {
    width: 100%;
  }

  table
  {
    table-layout: fixed;
    width: 100%;
  }
}
