<div class="d-flex flex-column">
  <mat-progress-bar
    *ngIf="loading"
    style="position: absolute; top: 0;"
    mode="indeterminate">
  </mat-progress-bar>
  <table mat-table class="table-abs-white sm" [dataSource]="dataSource">
    <ng-container matColumnDef="keys">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'common.node-key' | translate }} / {{ 'common.app-key' | translate }}
      </th>
      <td mat-cell *matCellDef="let item;">
        {{ item.node_key }}<br>{{ item.app_key }}
      </td>
    </ng-container>
    <ng-container matColumnDef="versions">
      <th mat-header-cell *matHeaderCellDef>{{ 'apps.socksc.versions' | translate }}</th>
      <td mat-cell *matCellDef="let item;">
        <span>Node: {{ item.node_version[0] }}</span>
        <br>
        <span>App: {{ item.version }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>{{ 'apps.socksc.location' | translate }}</th>
      <td mat-cell *matCellDef="let item;">
        {{ item.location }}
      </td>
    </ng-container>
    <ng-container matColumnDef="connect">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let item;">
        <button color="primary" mat-flat-button (click)="connect.emit({nodeKey: item.node_key, appKey: item.app_key})">
          {{ 'apps.socksc.connect' | translate }}
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="d-flex justify-content-end align-items-center mt-2">
    <span>
      {{ pagerState }}
    </span>
    <button
      [disabled]="this.currentPage === 1"
      mat-icon-button
      [matTooltip]="'apps.socksc.prev-page' | translate"
      (click)="prevPage()">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button
      [disabled]="this.currentPage === this.pages"
      mat-icon-button
      [matTooltip]="'apps.socksc.next-page' | translate"
      (click)="nextPage()">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
</div>
