@import "assets/fonts/material-icons/material-icons.css";

@font-face {
  font-family: 'Skycoin';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/SkycoinProject/skycoin-Light.woff2') format('woff2'),
  url('assets/fonts/SkycoinProject/skycoin-Light.woff') format('woff');
}

@font-face {
  font-family: 'Skycoin';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/SkycoinProject/skycoin-Regular.woff2') format('woff2'),
  url('assets/fonts/SkycoinProject/skycoin-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Skycoin';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/SkycoinProject/skycoin-Bold.woff2') format('woff2'),
  url('assets/fonts/SkycoinProject/skycoin-Bold.woff') format('woff');
}
