.container {
  font-size: 1.1rem;
  padding: 5rem 0;
  .chat-box {
    width: 80%;
    height: 35rem;
    margin: 0 auto;
    border-radius: .5rem;
    box-shadow: 0.1rem 0.1rem 0.5rem hsla(0, 0%, 0%, 0.6);
  }
}