<div class="d-flex flex-column align-items-center">
  <mat-icon class="warn-icon">
    error_outline
  </mat-icon>
  <h1 class="text-uppercase font-weight-bold">
    warning
  </h1>
  <p>
    If you are not familiar with the command, use it carefully.
  </p>
  <div style="margin-top: 20px;" class="d-flex justify-content-around">
    <button (click)="onAcceptButtonClicked()" class="text-uppercase" mat-raised-button color="primary">
      ok
    </button>
    <button (click)="onCancelButtonClicked()" style="margin-left: 25px;" class="text-uppercase" mat-raised-button color="warn">
      cancel
    </button>
  </div>
</div>
