@import "../../../../../../assets/scss/variables";
@import "../../../../../../assets/scss/utilities/theme";
@import "../../../../../../../node_modules/bootstrap/scss/functions";

.warn-icon
{
  width: 100px;
  height: 100px;
  font-size: 100px;
}

:host
{
  color: theme-color(blue-dark);
}
