<!--<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <textarea matInput formControlName="addresses" rows="5"
                placeholder="Comma separated discovery addresses"
      ></textarea>
      <mat-hint align="start">
        Address format: <strong>domain.tld:port-publickey</strong>
      </mat-hint>
      <mat-error *ngIf="form.get('addresses').hasError('invalid')">
        Invalid addresses. Address format: <strong>domain.tld:port-publickey</strong>
      </mat-error>
    </mat-form-field>
  </form>

  <div>
    discoveries: <br>
    <table>
      <tr *ngFor="let node of discoveryNodes">
        <td>{{ node.host }}<br><small>{{ node.key }}</small></td>
        <td>{{ node.connected ? 'OK' : 'ERROR' }}</td>
      </tr>
    </table>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="save()" [disabled]="!form.valid">save config and restart node</button>
</mat-dialog-actions>-->
<app-dialog [headline]="'actions.config.title' | translate" [dialogRef]="dialogRef">
  <app-datatable
    [data]="discoveryNodes"
    [meta]="{headerTitle: ('actions.config.header' | translate), removeRowTooltipText: ('actions.config.remove' | translate), addButtonTitle: ('actions.config.add' | translate) }"
    [getEditableRowData]="getEditableRowData.bind(this)"
    [getEditableRowComponentClass]="getEditableRowComponentClass.bind(this)"
    [getAddRowData]="getAddRowData.bind(this)"
    [getAddRowComponentClass]="getAddRowComponentClass.bind(this)"
    (save)="save($event)">
  </app-datatable>
</app-dialog>
