<mat-form-field>
  <input
    value="{{value}}"
    (blur)="onBlur($event)"
    required="{{required}}"
    (input)="onInput($event)"
    matInput [formControl]="validator"
    type="text"
    placeholder="{{ placeholder }}">
  <mat-error *ngIf="validator.errors?.required && (validator.dirty || validator.touched)">
    Key is required.
  </mat-error>
  <mat-error *ngIf="validator.errors?.invalid && (validator.dirty || validator.touched)">
    Key must be 66 characters long
  </mat-error>
</mat-form-field>
