<div [ngClass]="containerClass" id="nodeApps">
  <div class="info-container d-flex align-items-center w-100 justify-content-center">
    <mat-icon class="ic-big mr-3" >{{ icon }}</mat-icon>
    <div class="d-flex flex-column justify-content-start">
      <span class="font-sm" translate>
        <button
            *ngIf="showMore"
            [matMenuTriggerFor]="appMenu"
            [disabled]="menuItems.length === 0"
            mat-icon-button
            class="link btn-more">
          <mat-icon> more_vert</mat-icon>
          <i *ngIf="isRunning && hasMessages" class="dot-red sm"></i>
        </button>
        {{ title }}
      </span>
      <div
        matTooltip="{{ statusTooltip }}"
        class="d-flex align-items-center"
        style="margin-left: -7px; margin-top: -5px;">
        <mat-icon class="ic-small" color="{{ isFailed ? 'warn' : '' }}">
          {{ statusIconName }}
        </mat-icon>
        <span class="text-uppercase font-mini" translate style="transform: translateY(1px); translateX(-1px);">
          {{ status }}
        </span>
      </div>
    </div>
  </div>
  <button
    id="toggleAppButton"
    class="mt-2 text-uppercase"
    style="width: 140px;"
    color="{{ isRunning ? 'primary' : '' }}"
    mat-raised-button
    (click)="onAppClicked($event)">
    {{ (isRunning ? 'apps.stop-app' : 'apps.start-app') | translate }}
  </button>
</div>
<mat-menu
  [overlapTrigger]="false"
  #appMenu="matMenu">
  <div *ngFor="let item of menuItems"
       mat-menu-item
       disabled="{{ !item.enabled }}"
       (click)="item.enabled ? item.callback() : null">
    <span translate>{{ item.name }}</span>
  </div>
</mat-menu>

