@import "variables";
@import "utilities/theme";
@import "backgrounds";
@import "~bootstrap/scss/functions";

.mat-dialog-container
{
  @extend .container-elevated-translucid;
  overflow: hidden !important;
  border-radius: 5px !important;
  padding: 5px !important;
}

:host ::ng-deep
{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  mat-spinner {
    position: absolute;
    right: 10px;
    top: 7px;
    display: inline-block;
  }
  .active .app-icon
  {
    color: theme-color(blue-dark) !important;
  }

  .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary
  {
    background-color: #0F619C !important;
  }
}

.mat-flat-button
{
  line-height: 15px;
}

.dot-red
{
  position: absolute;
  right: 12px;
  top: 7px;
}

.btn-more
{
  font-size: theme-font-size(lg);
  position: absolute;
  right: -5px;
  top: -12px;
}

.separator
{
  height: 40px;
}
