@import "../../../../../../assets/scss/variables";
@import "../../../../../../assets/scss/utilities/theme";
@import "../../../../../../../node_modules/bootstrap/scss/functions";

:host ::ng-deep
{
  position: relative;
  .active .app-icon
  {
    color: theme-color(blue-dark) !important;
  }

  .ic-app-failed, .app-button-port
  {
    position: absolute !important;
    text-align: center;
    top: 60px;
    width: 150px;
  }

  .ic-app-failed
  {
    display: flex;
    justify-content: center;
    color: theme-color(red);
    text-shadow: 0 1px 1px #ddd;
    font-size: theme-font-size(md);
    font-weight: $font-weight-normal !important;
  }
}

.mat-flat-button
{
  line-height: 15px;
}

.dot-red
{
  position: absolute;
  right: 3px;
  top: -3px;
}

.btn-more
{
  font-size: theme-font-size(lg);
  position: absolute;
  right: -30px;
  top: -12px;
}

.separator
{
  height: 40px;
}

span
{
  position: relative;
}
