<div [ngClass]="containerClass">
  <span class="font-sm">
    <button
      id="showMoreBtn"
      *ngIf="showMore"
      [matMenuTriggerFor]="appMenu"
      [disabled]="menuItems.length === 0"
      mat-icon-button
      class="link btn-more">
      <mat-icon> more_vert</mat-icon>
      <i *ngIf="isRunning && hasMessages" class="dot-red sm"></i>
    </button>
    {{ title | translate }}
  </span>
  <button
    class="app-icon"
    mat-icon-button
    (click)="onAppClicked($event)">
    <mat-icon>{{ icon }}</mat-icon>
  </button>
  <span *ngIf="isRunning && subtitle" class="app-button-port font-smaller">
    {{ subtitle }}
  </span>
  <div
    *ngIf="isRunning && appFeedback?.failed"
    disabled
    [matTooltip]="'apps.errors.fail-tooltip' | translate"
    class="ic-app-failed link md">
    <mat-icon>highlight_off</mat-icon>
    {{ 'apps.errors.fail' | translate }}
  </div>
</div>
<mat-menu
  [overlapTrigger]="false"
  #appMenu="matMenu">
  <div *ngFor="let item of menuItems"
       mat-menu-item
       disabled="{{ !item.enabled }}"
       (click)="item.enabled ? item.callback() : null">
    {{ item.name | translate }}
  </div>
</mat-menu>

