:host::ng-deep
{
  .node-status-bar
  {
    .status-text
    {
      padding-right: 16px;
      padding-left: 16px;
      white-space: nowrap;
    }

    .mat-icon
    {
      margin-right: 10px;
      width: 30px;
      height: 30px;
      font-size: 30px;
    }
  }
}
