<ul class="node-status-bar list-inline d-flex justify-content-around mb-0">
  <li class="status-text list-inline-item d-flex align-items-center justify-content-between"
      matTooltip="{{onlineTooltip}}">
    <mat-icon>network_check</mat-icon>
    <div class="d-flex flex-column">
      <span class="font-mini">STATUS</span>
      <span id="nodeOnlineStatus">{{(isOnline ? 'node.online' : 'node.offline') | translate }}</span>
    </div>
  </li>
  <li class="separator"></li>
  <li class="status-text list-inline-item d-flex align-items-center justify-content-between">
    <mat-icon>layers</mat-icon>
    <div class="d-flex flex-column">
      <span class="font-mini">PROTOCOL</span>
      <span
        id="nodeProtocol"
        class="text-uppercase">
        {{ nodeData.node.type }}
      </span>
    </div>
  </li>
  <li class="separator"></li>
  <li class="status-text list-inline-item d-flex align-items-center justify-content-between">
    <mat-icon>timelapse</mat-icon>
    <div class="d-flex flex-column">
      <span class="font-mini">LAST PING</span>
      <span>{{ nodeData.node.last_ack_time | relativeTime }}</span>
    </div>
  </li>
  <li class="separator"></li>
  <li class="status-text list-inline-item d-flex align-items-center justify-content-between">
    <mat-icon>av_timer</mat-icon>
    <div class="d-flex flex-column">
      <span class="font-mini">RUNNING</span>
      <span>{{ nodeData.node.start_time | relativeTime:true }}</span>
    </div>
  </li>
</ul>
