<div class="container-elevated-translucid">
  <table class="table-translucid align-center" mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length > 0">
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef class="bold">#</th>
      <td mat-cell *matCellDef="let app;let i=index;" class="bold"> {{i+1}}</td>
    </ng-container>
    <ng-container matColumnDef="key">
      <th mat-header-cell *matHeaderCellDef class="bold">Key</th>
      <td *matCellDef="let app;let i=index;" id="macaco" mat-cell>{{ app.key }}</td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef class="bold"></th>
      <td mat-cell *matCellDef="let app;">
        <div style="margin-left: 15px;" class="d-flex flex-row align-items-center justify-content-end">
          <mat-chip-list class="align-end" style="width: 120px;">
            <mat-chip *ngFor="let attr of app.attributes" color="accent" selected matTooltip="{{attr}}">
              {{ attr }}
            </mat-chip>
          </mat-chip-list>
          <button class="clipBtn" mat-icon-button attr.data-clipboard-text="{{app.key}}">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
