<perfect-scrollbar class="container contact-box" [config]="config" *ngIf="list?.length > 0">
  <ul>
    <li *ngFor="let item of list">
      <app-im-recent-item [info]="item" (onClick)="selectItem($event)"></app-im-recent-item>
    </li>
  </ul>
</perfect-scrollbar>
<div class="hint-box" *ngIf="list?.length <= 0">
  No Chat User
</div>
<div class="create-chat-box">
  <p>
    <span class="create" (click)="openCreate($event)"><i class="fa fa-plus"></i><span class="text">New Chat</span></span>
      <span class="info" (click)="info($event)"><i class="fa fa-user tooltip-top" aria-label="infomation"></i></span>  
      <!-- <span class="info" (click)="Test(test)"><i class="fa fa-user tooltip-top" aria-label="infomation"></i></span>    -->
  </p>
</div>
<ng-template #test>
  <div class="test">
    asdfsadf
  </div>
</ng-template>
