<div class="container-fluid h-100">
  <div class="row h-100" style="padding-bottom: 40px;">
    <div class="col-3">
      <div class="d-flex flex-column h-100 justify-content-between">
        <div>
            <img style="margin-left: 20px; margin-top: 70px;" src="/assets/img/logo.png" class="skycoin-logo"/>
        </div>
          <ul class="node-menu list-group">
            <li class="list-group-item">
              <button mat-flat-button class="link md">
                <mat-icon>get_app</mat-icon>
                Check update
              </button>
            </li>
            <li class="list-group-item">
              <button mat-flat-button class="link md">
                <mat-icon>rotate_right</mat-icon>
                Reboot
              </button>
            </li>
            <li class="list-group-item">
              <button mat-flat-button class="link md">
                <mat-icon>settings</mat-icon>
                Settings
              </button>
            </li>
            <li class="list-group-item">
              <button mat-flat-button class="link md">
                <mat-icon>laptop</mat-icon>
                Terminal
              </button>
            </li>
          </ul>
      </div>
    </div>
    <div class="col-6">
      <div class="node-top-bar d-flex justify-content-between">
        <button mat-flat-button class="link md">
          <mat-icon class="font-sm ic-small rounded-circle sky-bg-white sky-color-blue">chevron_left</mat-icon>
          Back
        </button>
        <div class="d-flex align-items-center">
          <span class="font-sm" style="margin-right: 10px;">Refresh</span>
          <mat-form-field class="form-refresh">
            <input class="input-refresh font-sm" matInput value="3s">
          </mat-form-field>
        </div>
      </div>
      <div>
        <ul class="node-status-bar list-inline d-flex justify-content-around">
          <li class="status-text list-inline-item d-flex align-items-center justify-content-between" matTooltip="Status">
              <mat-icon>network_check</mat-icon>
              Online
          </li>
          <li class="separator"></li>
          <li class="status-text list-inline-item d-flex align-items-center justify-content-between" matTooltip="Type">
              <mat-icon>layers</mat-icon>
              <span class="text-uppercase">{{ node.type }}</span>
          </li>
          <li class="separator"></li>
          <li class="status-text list-inline-item d-flex align-items-center justify-content-between" matTooltip="Last ack time">
              <mat-icon>timelapse</mat-icon>
              {{ node.last_ack_time | relativeTime }}
          </li>
          <li class="separator"></li>
          <li class="status-text list-inline-item d-flex align-items-center justify-content-between" matTooltip="Started">
              <mat-icon>av_timer</mat-icon>
              {{ node.start_time | relativeTime }}
          </li>
        </ul>
      </div>
      <div class="container-elevated-translucid"></div>
      <div class="container-elevated-translucid" style="margin-top: 20px;">
        <div *ngIf="node">
          addr: {{ node.addr }} <br>
          key: {{ node.key }} <br>
          started: {{ node.start_time | relativeTime }} <br>
          last seen: {{ node.last_ack_time | relativeTime }} <br>
          type: {{ node.type }} <br>
          <br>
          apps: <br>
          <div *ngFor="let app of nodeApps">
            {{ app.key }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">

    </div>
  </div>
</div>
