<div class="container-fluid h-100">
  <div class="row h-100" style="padding-bottom: 40px; padding-top: 100px;">
    <div class="col-3">
      <div class="d-flex flex-column h-100 justify-content-between">
        <div>
            <img style="margin-left: 20px;" src="/assets/img/logo.png" class="skycoin-logo"/>
        </div>
          <ul class="list-group">
            <li class="list-group-item">
              <button mat-flat-button class="link lg">
                <mat-icon svgIcon="sky-check-update"></mat-icon>
                Check update
              </button>
            </li>
            <li class="list-group-item">
              <button mat-flat-button class="link lg">
                <mat-icon svgIcon="sky-reboot"></mat-icon>
                Reboot
              </button>
            </li>
            <li class="list-group-item">
              <button mat-flat-button class="link lg">
                <mat-icon svgIcon="sky-settings"></mat-icon>
                Settings
              </button>
            </li>
            <li class="list-group-item">
              <button mat-flat-button class="link lg">
                <mat-icon svgIcon="sky-terminal"></mat-icon>
                Terminal
              </button>
            </li>
          </ul>
      </div>
    </div>
    <div class="col-6">
      <div class="container-elevated-translucid"></div>
      <div class="container-elevated-translucid" style="margin-top: 20px;">
        <div *ngIf="node">
          addr: {{ node.addr }} <br>
          key: {{ node.key }} <br>
          started: {{ node.start_time | relativeTime }} <br>
          last seen: {{ node.last_ack_time | relativeTime }} <br>
          type: {{ node.type }} <br>
          <br>
          apps: <br>
          <div *ngFor="let app of nodeApps">
            {{ app.key }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">

    </div>
  </div>
  <br>
  actions: <br>
  <app-actions [node]="node" [nodeInfo]="nodeInfo"></app-actions>
  <br>
  transports: <br>
  <app-transports [transports]="nodeInfo.transports"></app-transports>
</div>
