<div class="container-fluid h-100">
  <div class="row h-100" style="padding-bottom: 40px;">
    <div class="col-xl-2 col-lg-3">
      <div class="d-flex flex-column h-100 justify-content-between">
        <div>
            <img style="margin-left: 20px; margin-top: 55px;" src="/assets/img/logo.png" class="skycoin-logo"/>
        </div>
        <app-actions [node]="node" [nodeInfo]="nodeInfo"></app-actions>
      </div>
    </div>
    <div class="col-lg-6 col-xl-7">
      <div class="d-flex flex-column h-100">
        <div class="node-top-bar d-flex justify-content-between">
          <button mat-flat-button class="link sm" (click)="back()">
            <mat-icon class="font-sm ic-small rounded-circle sky-bg-white sky-color-blue">chevron_left</mat-icon>
            Back
          </button>
          <div class="d-flex align-items-center">
            <span class="font-sm" style="margin-right: 10px;">Refresh</span>
            <mat-form-field class="white form-refresh">
              <input
                [value]="10"
                matInput
                (input)="onRefreshTimeChanged($event)"
                type="number"
                class="input-refresh font-sm text-center">
              <span matSuffix>s</span>
            </mat-form-field>
          </div>
        </div>
        <div>
          <ul class="node-status-bar list-inline d-flex justify-content-around">
            <li class="status-text list-inline-item d-flex align-items-center justify-content-between" matTooltip="Status">
              <mat-icon>network_check</mat-icon>
              XXX
            </li>
            <li class="separator"></li>
            <li class="status-text list-inline-item d-flex align-items-center justify-content-between" matTooltip="Type">
              <mat-icon>layers</mat-icon>
              <span class="text-uppercase">
                {{ node.type }}
              </span>
            </li>
            <li class="separator"></li>
            <li class="status-text list-inline-item d-flex align-items-center justify-content-between" matTooltip="Last ack time">
              <mat-icon>timelapse</mat-icon>
              {{ node.last_ack_time | relativeTime }}
            </li>
            <li class="separator"></li>
            <li class="status-text list-inline-item d-flex align-items-center justify-content-between" matTooltip="Started">
              <mat-icon>av_timer</mat-icon>
              {{ node.start_time | relativeTime }}
            </li>
          </ul>
        </div>
        <div style="margin-top: 30px;" class="container-elevated-translucid d-flex justify-content-between align-items-center">
          Public key <span class="font-smaller">{{ node.key }}</span>
        </div>
        <node-transports-list [connections]="connectionsList" style="margin-top: 25px;"></node-transports-list>
        <node-app-keys-list [apps]="appsList" style="margin-top: 25px;"></node-app-keys-list>
        <div class="node-bottom-bar d-flex align-items-end justify-content-center flex-1">
          <ul class="list-inline d-flex align-items-center w-100 justify-content-between flex-1">
            <li class="list-inline-item flex-1">
              <app-node-app-button
                (onClick)="onSettingsClicked()"
                title="Apps settings"
                icon="settings">
              </app-node-app-button>
            </li>
            <li class="separator list-inline-item"></li>
            <li class="list-inline-item flex-1">
              <app-node-app-button
                title="SSH"
                icon="laptop"
                [active]="true"
                subtitle="Port: 8080"
                [hasMessages]="true"
                [showMore]="true"
                (onClick)="onSSHClicked()"
                (onClickMore)="onSSHMoreClicked()">
              </app-node-app-button>
            </li>
            <li class="separator list-inline-item"></li>
            <li class="list-inline-item flex-1">
              <app-node-app-button
                title="Connect to Node"
                icon="near_me"
                [showMore]="true"
                >
              </app-node-app-button>
            </li>
            <li class="separator list-inline-item"></li>
            <li class="list-inline-item flex-1">
              <app-node-app-button
                title="SSH Client"
                subtitle="Port: 8080"
                icon="laptop"
                [active]="true"
                [showMore]="true"
                [hasMessages]="true">
              </app-node-app-button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="node-right font-smaller d-flex flex-column h-100">
        <!-- IPS -->
        <div class="node-ips-container d-flex justify-content-between">
          <div class="section">
            <span class="section-title">NODE IP</span>
            <span class="font-smaller">{{ node.addr }}</span>
          </div>
          <div class="section">
            <span class="section-title">MANAGER IP</span>
            <span class="font-smaller">XXXXXX</span>
          </div>
        </div>
        <hr>
        <!-- Public key -->
        <div class="node-public-key section">
          <span class="section-title">PUBLIC KEY</span>
          <span class="font-smaller">{{ node.key }}</span>
        </div>
        <hr>
        <!-- Connections -->
        <div class="node-connections justify-content-between">
          <div class="section">
            <span class="section-title">
              <i class="dot-green"></i> CONNECTION
            </span>
            <span class="font-smaller">xxxxxxxxxxx</span>
          </div>
          <div class="section">
            <span class="section-title">
              <i class="dot-green"></i> NODES</span>
            <span class="font-smaller">xxxxxxxxxxxx</span>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
  <br>
  transports: <br>
  <app-transports [transports]="nodeInfo?.transports"></app-transports>
  <br>
  apps: <br>
  <app-apps [node]="node" [apps]="nodeApps" [nodeInfo]="nodeInfo"></app-apps>
</div>
