@import "variables";

.mat-app-background {
  padding: 0;
}

.mat-toolbar {
  background-color: transparent;
  margin-bottom: 80px;
  padding-top: 30px;
  justify-content: space-between;
}

.node-list-container
{
  .mat-form-field-infix{
    width: 50px !important;
  }

  .bold {
    font-weight: bold;
  }
}

.actions {
  text-align: right;

  button {
    width: 24px;
    height: 24px;
    line-height: 24px;

    &:last-child {
      margin-left: 15px;
    }
  }
}
