@import "variables";

.mat-app-background {
  padding: 0;
}

.reload-icon {
  width: 20px;
  cursor: pointer;
}

.reload-button
{
  display: flex;
  align-items: center;
  background: transparent no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: white;
  font-size: 16px;

  .reload-icon {
    margin-left: 8px;
  }
}

.node-list-container
{
  .mat-form-field-infix{
    width: 50px !important;
  }

  .bold {
    font-weight: bold;
  }
}

.actions {
  text-align: right;

  button {
    width: 24px;
    height: 24px;
    line-height: 24px;

    &:last-child {
      margin-left: 15px;
    }
  }
}
