@import "../../../../assets/scss/variables";

.mat-app-background {
  padding: 0;
}

.mat-toolbar {
  background-color: transparent;
  margin-bottom: 80px;
  padding-top: 30px;
  justify-content: space-between;
}

.reload-icon {
  width: 20px;
  cursor: pointer;
}

.reload-button {

  display: flex;
  align-items: center;
  background: transparent no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: white;
  font-size: 16px;

  .reload-icon {
    margin-left: 8px;
  }

}

.node-list-container {
  table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate !important;

    th {
      color: black;
      font-size: 14px;
    }

    td {
      min-width: 50px;
      padding-right: 16px;
    }

    tr.mat-row {
      cursor: pointer;

      &:hover {
        background-color: $light-gray;

      }

      .input-label{
        width:50px !important;
        border:none;
        border-bottom: 1px solid black;
        background-color: transparent;
        outline: none;
        font-size:14px;
      }
    }
  }

  .mat-form-field-infix{
    width: 50px !important;
  }

  .bold {
    font-weight: bold;
  }

}


