.record-page {
  min-height: 800px;
  .record-box {
    margin-top: 2em;
    .record-title {
      display: inline-block;
    }
    .refresh {
      cursor: pointer;
    }
    .record-table {
      width: 100%;
      border-collapse: collapse;
      .no-found {
        text-align: center !important;
      }
      td,
      th {
        padding: 15px 30px;
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        border-radius: 2px;
      }
      thead {
        border-bottom: 1px solid #d0d0d0;
      }
      tbody {
        tr {
          border-bottom: 1px solid #d0d0d0;
        }
        .address {
          font-weight: 500;
        }
        .status {
          font-weight: 500;
          color: #e61b1b;
        }
        .record-row {
          font-size: small;
          color: #505050;
        }
        .key {
          font-size: xx-small;
        }
      }
    }
  }
}

.withdraw-dialog {
  width: 300px;
  .withdraw-form {
    .full-width {
      width: 100%;
    }
  }
}
