@import '../../../app.scss';
app-dashboard {
  .discovery-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    span {
      margin: 0 1rem;
    }
  }
  .status-success {
    color: $success-color;
  }
  .status-col {
    margin-left: .8rem;
    margin-top: .4rem;
  }
  .mat-row {
    border-bottom-width: 0;
  }
  .mat-row-hover {
    cursor: pointer;
    &:hover {
      border-bottom: 0;
      background-color: $light-dark;
    }
  }
  .table-extran-header {
    display: flex;
    margin-bottom: .5rem;
    .header-col {
      width: 50%;
    }
    .header-text {
      user-select: none;
      font-size: 1.1rem;
      font-weight: 500;
      .mat-icon {
        cursor: pointer;
        color: $primary-color;
      }
    }
  }
  .table-box {
    margin-top: .5rem;
  }
}
