@import "../../../../assets/scss/variables";

$height: 20px;
$button-size:14px;
$width: 40px;


.switch {
  position: relative;
  display: inline-block;
  width: $width;
  height: $height;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #34373B;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: $height - ($height - $button-size);
  width: $button-size;
  left:($height - $button-size)/2;
  bottom: ($height - $button-size)/2;
  background-color: $red;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  background-color: $green;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

$translate:$width - $button-size - ($height - $button-size);
input:checked + .slider:before {
  -webkit-transform: translateX($translate);
  -ms-transform: translateX($translate);
  transform: translateX($translate);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
