<app-dialog [headline]="'apps.config.title' | translate">
  <mat-dialog-content>
    <form class="startup-form" *ngIf="autoStartConfig">
      <mat-list>
        <mat-list-item>
        <span>
          {{ autoStartTitle | translate }}
        </span>
          <mat-slide-toggle (change)="toggle($event)" [checked]="isAutoStartChecked"></mat-slide-toggle>
        </mat-list-item>
        <mat-list-item *ngIf="hasKeyPair">
          <app-keypair
            [required]="isAutoStartChecked"
            (keypairChange)="keypairChange($event)"
            [keypair]="keyPair"
          ></app-keypair>
        </mat-list-item>
      </mat-list>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button [disabled]="!validKeyPair" class="submit-btn" color="primary" mat-raised-button (click)="save()">
      {{ 'common.save' | translate }}
    </button>
  </mat-dialog-actions>
</app-dialog>
