<form>
  <mat-list>
    <mat-list-item>
      <label for="nodeServer">Node server</label>
      <mat-slide-toggle (change)="onNodeServerToggle($event)" id="nodeServer"></mat-slide-toggle>
    </mat-list-item>
    <mat-list-item>
      <label for="nodeClient">Node client</label>
      <mat-slide-toggle (change)="onNodeClientToggle($event)" id="nodeClient"></mat-slide-toggle>
    </mat-list-item>
    <mat-list-item>
      <span>
        Node Client Config
      </span>
    </mat-list-item>
    <mat-list-item class="indented">
      <label for="nodeKey">Node key</label>
      <mat-form-field>
        <input (input)="onNodeKeyChanged($event)" id="nodeKey" matInput/>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="indented">
      <label for="appKey">App key</label>
      <mat-form-field>
        <input (input)="onNodeAppKeyChanged($event)"  id="appKey" matInput/>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item>
      <label for="sshServer">SSH server</label>
      <mat-slide-toggle (change)="onSSHServerToggle($event)" id="sshServer"></mat-slide-toggle>
    </mat-list-item>
    <mat-list-item>
      <label for="sshClient">SSH client</label>
      <mat-slide-toggle (change)="onSSHClientToggle($event)"  id="sshClient"></mat-slide-toggle>
    </mat-list-item>
    <mat-list-item>
      <span>
        SSH Client Config
      </span>
    </mat-list-item>
    <mat-list-item class="indented">
      <label for="nodeKey2">Node key</label>
      <mat-form-field>
        <input (input)="onSSHNodeKeyChanged($event)"  id="nodeKey2" matInput/>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="indented">
      <label for="appKey2">App key</label>
      <mat-form-field>
        <input (input)="onSSHAppKeyChanged($event)"  id="appKey2" matInput/>
      </mat-form-field>
    </mat-list-item>
  </mat-list>
  <button (click)="onSaveClicked()" color="primary" class="float-right text-uppercase" mat-raised-button>
    save
  </button>
</form>
