<div class="d-flex align-items-center">
  <app-discovery-address-input
    [autofocus]="autofocus"
    *ngIf="editMode"
    (onValueChanged)="onValueChanged($event)"
    [value]="value">
  </app-discovery-address-input>
  <span
    (click)="onValueClicked($event)"
    *ngIf="!editMode">
  {{ value.domain }}<br>{{ value.publicKey }}
  </span>
  <button color="{{editMode ? 'primary' : ''}}"
    (click)="toggleEditMode()"
    mat-icon-button
    matTooltip="{{editMode ? 'Save changes' : 'Edit value'}}"
    [disabled]="editMode && !valid">
    <mat-icon>
      {{editMode ? 'done' : 'edit'}}
    </mat-icon>
  </button>
</div>

