<form>
  <mat-form-field>
    <input
      matInput
      [formControl]="refreshSecondsFormControl"
      [errorStateMatcher]="matcher"
      min="1"
      value="{{ value }}"
      (input)="onInput($event)"
      type="number">
    <mat-error *ngIf="refreshSecondsFormControl.hasError('min') && !refreshSecondsFormControl.hasError('required')">
      {{ minError }}
    </mat-error>
    <mat-error *ngIf="refreshSecondsFormControl.hasError('required')">
      {{ requiredError }}
    </mat-error>
  </mat-form-field>
</form>
