<form>
  <mat-form-field class="white form-refresh">
    <input
      matInput
      [formControl]="refreshSecondsFormControl"
      [errorStateMatcher]="matcher"
      min="1"
      value="{{ value }}"
      (input)="onInput($event)"
      type="number">
    <mat-error *ngIf="refreshSecondsFormControl.hasError('min') && !refreshSecondsFormControl.hasError('required')">
      Enter a number greater than 0
    </mat-error>
    <mat-error *ngIf="refreshSecondsFormControl.hasError('required')">
      Refresh time can't be empty
    </mat-error>
  </mat-form-field>
</form>
