@import "variables";
@import "utilities/theme";
@import "~bootstrap/scss/functions";
@import '~@angular/material/theming';

//
// Containers
//
.mat-app-background
{
  background: linear-gradient($blue, $blue-light) no-repeat fixed !important;
}

$elevated-containers-colors: (
  translucid: map_get($theme-colors, translucid),
  white:      map_get($theme-colors, white),
  translucid-dark: map_get($theme-colors, translucid-dark)
);

@each $color-name, $color-value in $elevated-containers-colors
{
  .container-elevated-#{$color-name}
  {
    @include mat-elevation(8);
    border-radius: 16px;
    padding: 15px 30px 15px 30px;
    background-color: $color-value !important;
  }
}

mat-dialog-container.mat-dialog-container {
  border-radius: $radius;
}

//
// Backgrounds
//

@each $color-name, $color-value in $theme-colors
{
  .sky-bg-#{$color-name}
  {
    background-color: $color-value !important;
  }
}
