@import "~@angular/material/theming";
@include mat-core();

.mat-flat-button
{
  &.link
  {
    background: none !important;
  }

  &.lg
  {
    font-size: 18px !important;
    font-weight: lighter !important;
  }

  &.md
  {
    font-size: theme-font-size(mid) !important;
    font-weight: lighter !important;
  }

  .mat-button-wrapper
  {
    display: flex;
    align-items: center;
  }
}
