@import "~@angular/material/theming";
@include mat-core();

.mat-flat-button
{
  &.link
  {
    background: none !important;
  }

  &.lg
  {
    font-size: 25px !important;
    font-weight: lighter !important;
  }

  .mat-button-wrapper
  {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .mat-icon
  {
    margin-right: 15px;
  }
}
