@import "~@angular/material/theming";
@include mat-core();

.mat-flat-button
{
  &.link
  {
    background: none !important;
  }

  &.lg
  {
    font-size: 18px !important;
    font-weight: lighter !important;
  }

  &.md
  {
    font-size: theme-font-size(base) !important;
    font-weight: lighter !important;
  }

  &.sm
  {
    font-size: theme-font-size(smaller) !important;
    font-weight: lighter !important;


  }

  &.centered-col
  {
    .mat-button-wrapper
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
      line-height: 26px;
    }
  }

  .mat-button-wrapper
  {
    display: flex;
    align-items: center;
  }
}
