@import "variables";
@import "utilities/theme";
@import "fonts";
@import "backgrounds";
@import "~bootstrap/scss/functions";

.app-log-dialog
{
  @extend .font-smaller;
  width: 800px !important;

  .mat-dialog-container
  {
    @extend .container-elevated-translucid-dark;
    padding: 0;
    color: theme-color(white);
  }

  .app-log-title
  {
    color: theme-color(blue-dark);
    background: theme-color(white);
    padding: 7px 10px 5px 15px;
    margin: 0;
  }

  .app-log-content
  {
    padding: 0 20px 20px 20px;
    margin: 0;
  }

  .app-log-timestamp
  {
    color: theme-color(yellow);
  }

  .app-log-empty
  {
    @extend .font-base;
    text-align: center;
  }
}
