@import "assets/fonts/material-icons/material-icons.css";

@font-face {
  font-family: 'Skycoin';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/skycoin/Skycoin-Light.woff2') format('woff2'),
  url('assets/fonts/skycoin/Skycoin-Light.woff') format('woff');
}

@font-face {
  font-family: 'Skycoin';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/skycoin/Skycoin-Regular.woff2') format('woff2'),
  url('assets/fonts/skycoin/Skycoin-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Skycoin';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/skycoin/Skycoin-Bold.woff2') format('woff2'),
  url('assets/fonts/skycoin/Skycoin-Bold.woff') format('woff');
}

//
// Color
//
@each $color-name, $color-value in $theme-colors
{
  .sky-color-#{$color-name}
  {
    color: $color-value !important;
  }
}

//
// Size
//
@each $size-name, $size-value in $theme-font-sizes
{
  .font-size-#{$size-name}
  {
    font-size: $size-value !important;
  }
}

.font-base
{
  @extend .font-size-base;
}

.font-sm
{
  @extend .font-size-sm;
  font-weight: $font-weight-light !important;
}

.font-smaller
{
  @extend .font-size-smaller;
  font-weight: $font-weight-light !important;
}
