//
// Input
//

.mat-form-field-appearance-legacy .mat-form-field-underline
{
  background-color: theme-color(translucid-white) !important;
}

.mat-form-field-ripple
{
  background-color: theme-color(translucid-white) !important;
}

.mat-input-element {
  caret-color: theme-color(translucid-white) !important;
}
