$radius: 10px;

// Colors

$white: #F8F9F9;
$black: #202226;

$blue-light: #00C3FF;
$blue: #0072FF;
$blue-dark: #154B6C;

$blue-chart: #0B6DB0;
$blue-panel: rgba(32, 34, 38, .44);

$red: #DA3439;
$green: #2ECC54;
