//
// Colors
//

$white: #F8F9F9;
$black: #202226;

$blue-light: #00C3FF;
$blue: #0072FF;
$blue-dark: #154B6C;

$blue-chart: #0B6DB0;
$blue-panel: rgba(32, 34, 38, .44);

$red: #DA3439;
$green: #2ECC54;
$light-gray:#F7F7F7;

$theme-colors: (
  green:              $green,
  red:                $red,
  blue-light:         $blue-light,
  blue:               $blue,
  blue-dark:          $blue-dark,
  translucid:         rgba(32, 34, 38, .44),
  translucid-hover:   rgba(0, 0, 0, 0.1),
  translucid-white:   rgba(255, 255, 255, .44),
  white:              $white,
  white-hover:        darken($white, 5%)
);

//
// Fonts
//

$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25);
$font-size-sm:                ($font-size-base * .875);
$font-size-smaller:           ($font-size-base * .8);

$theme-font-sizes: (
  smaller: $font-size-smaller,
  sm: $font-size-sm,
  base: $font-size-base,
  lg: $font-size-lg
);

$font-weight-light:           lighter;
$font-weight-normal:          400;
$font-weight-bold:            700;

//
// Typography
//

$skywire-font-family: 'Skycoin';
