<app-dialog
  class="position-relative"
  [headline]="'actions.update.title' | translate">
  <mat-progress-bar *ngIf="isLoading"
                    style="position: relative; top: 0;"
                    mode="indeterminate"></mat-progress-bar>
  <mat-dialog-content>
  <span class="font-base text-danger" *ngIf="!isLoading && !isUpdateAvailable && !updateError">
    Currently there is no update for the node.
  </span>
    <span class=" font-base sky-color-blue-dark" *ngIf="!isLoading && isUpdateAvailable && !updateError">
    There is an update available for the node. Click the "Install update" button to continue.
  </span>
    <span class=" font-base text-danger" *ngIf="!isLoading && updateError">
    {{ updateError }}
  </span>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      (click)="onUpdateClicked($event)"
      color="primary"
      [disabled]="!isUpdateAvailable"
      cdkFocusInitial>
      Install update
    </button>
  </mat-dialog-actions>
</app-dialog>
