<app-dialog
  class="position-relative"
  [headline]="'actions.update.title' | translate">
  <mat-progress-bar *ngIf="isLoading"
                    style="position: relative; top: 0;"
                    mode="indeterminate"></mat-progress-bar>
  <mat-dialog-content>
  <span translate class="font-base text-danger" *ngIf="!isLoading && !isUpdateAvailable && !updateError">
    {{ 'actions.no-update' | translate }}
  </span>
  <span class=" font-base sky-color-blue-dark" *ngIf="!isLoading && isUpdateAvailable && !updateError">
    {{ 'actions.update.update-available' | translate }}
  </span>
  <span translate class=" font-base text-danger" *ngIf="!isLoading && updateError">
    {{ 'actions.update.update-error' | translate }}
  </span>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button translate mat-raised-button mat-dialog-close>
      {{ 'common.cancel' | translate }}
    </button>
    <button
      translate
      mat-raised-button
      (click)="onUpdateClicked($event)"
      color="primary"
      [disabled]="!isUpdateAvailable"
      cdkFocusInitial>
        {{ 'actions.update.install' | translate }}
    </button>
  </mat-dialog-actions>
</app-dialog>
