<div mat-dialog-title class="position-relative">
  <h4>Check node update</h4>
  <mat-progress-bar *ngIf="isLoading"
                    style="position: relative; top: 0;"
                    mode="indeterminate"></mat-progress-bar>
</div>
<mat-dialog-content>
  <span class="font-base text-danger" *ngIf="!isLoading && !isUpdateAvailable">
    Currently there is no update for the node.
  </span>
  <span class=" font-base sky-color-blue-dark" *ngIf="!isLoading && isUpdateAvailable">
    There is an update available for the node. Click the "Install update" button to continue.
  </span>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
  <button
    mat-raised-button
    (click)="onUpdateClicked($event)"
    color="primary"
    [disabled]="!isUpdateAvailable"
    [mat-dialog-close]="true"
    cdkFocusInitial>
    Install update
  </button>
</mat-dialog-actions>
