<div class="cursor-pointer" [matMenuTriggerFor]="appMenu" [matTooltip]="tooltipText | translate">
  {{ text }}
</div>
<mat-menu [overlapTrigger]="false" #appMenu="matMenu">
  <div
    mat-menu-item
    [clipboard]="fullText"
    [matTooltip]="'copy.tooltip' | translate"
    (copyEvent)="onCopyToClipboardClicked($event)">
    {{ fullText }}
    <button style="margin-left: 15px;" color="accent" mat-icon-button>
      <mat-icon aria-label="content_copy">content_copy</mat-icon>
    </button>
  </div>
</mat-menu>
