@import "variables";

:host::ng-deep
{
  button
  {
    width: 130px;
    align-self: flex-end;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-spinner {
      position: absolute;
      right: 10px;
      top: 5px;
      display: inline-block;
    }
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type='password'] {
    height: 35px;
    width: 300px;
    border-radius: 5px;
    font-size: 14px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.10);

    &:focus {
      outline: none;
    }
  }

  .manager-title {
    color: white;
    position: absolute;
    bottom: 60px;
    margin: 0;
  }
}
