
.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container .logo {
  width: 208px;
  height: auto;
}

.login-container input[type='password'] {
  height: 35px;
  width: 300px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.10);

  margin-top: 50px;
  margin-bottom: 50px;
  color:#000000ad;
}

.login-container input[type='password']:focus {
  outline: none;
}

.login-container button {
  width: 135px;
  height: 38px;
  border-radius: 19px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  background-color:#EFF0F0;
  margin-top: 30px;
}

.login-container h5 {
  font-size: 25px;
  font-weight: bold;
  color: white;
  position: absolute;
  bottom: 60px;
  margin: 0;
}
