<div class="container-fluid h-100 d-flex justify-content-center">
  <div
    style="top: -10%;"
    class="position-relative row flex-column align-items-center h-100 justify-content-center">
    <app-skycoin-logo [direction]="'vertical'"></app-skycoin-logo>
    <form class="mt-5" [formGroup]="form">
      <input
        type="password"
        formControlName="password"
        autocomplete="off"
        [placeholder]="'login.password' | translate"
      >
      <button
        [disabled]="!form.valid"
        class="ml-3 d-flex justify-content-center"
        mat-raised-button
        (click)="login()">{{ 'login.login' | translate }}
        <mat-spinner
          [diameter]="24"
          *ngIf="loading"
        ></mat-spinner>
      </button>
      <div *ngIf="error" class="login-error">{{ error | translate }}</div>
    </form>
  </div>
  <h4 class="manager-title">{{ 'common.skywire-manager' | translate }}</h4>
</div>
