app-info-dialog {
  display: block;
  position: relative;
  .info-card {
    .icon-box {
      text-align: center;
    }
    .key {
      color: #999;
      text-align: center;
      margin-top: 1rem;
      font-size: 1.1rem;
    }
    .hint-box {
      color: red;
      text-align: center;
    }
  }
}